# Build artifacts
build/
dist/
*.egg-info/
*.so
*.pyc
__pycache__/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
.venv/
env/

test.ipynb
.ipynb_checkpoints/
docs/_build/
.nfs*

.a5c/